*Thumbs.db
.DS_Store

bin-debug
bin-release
bin/*
asdoc-output
/*.as3proj
**/target
*.iml
*-app.xml

.metadata
.actionScriptProperties
.flexProperties
.project
.settings
.apk
/.idea/
out/
src/res/fla/
