/**{
	border: 1px solid red;
}*/
.wrapper{
	position: absolute;
    right: 20%;
    left: 20%;
	width: 60%;
}
.company{
	display: block;
	color: lightgrey;
}
.ProjectName{
	display: block;
} 
.navigation{
	display: block;
	padding: 0;
}
.navigation li{
    text-align: center;
    width: 15%;
	display: inline-block;
	background: #ddd;
	color: #fff;
    padding: 10px 5px;
    text-decoration: none;
}
.navigation li a {
    text-decoration: none;
}
.navigation li:first-child{
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
.navigation li:last-child{
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-width: 0;
}
.navigation li:hover{
	box-shadow: inset 0 0 10px #000000;
	background-color: #ccc;
	cursor: pointer;
}
.context{
	text-align: center;
}
.context div h1{
	font: 50px arial, sans-serif;
	margin-bottom: 0px;
}
.context div h3{
	font: 25px arial, sans-serif;
}
.context .context-button{
	padding: 10px 20px;
	font-size: 20px;
	background-color: #5bb15b;
	color: #fff;
	border-radius: 3px;
	border: none;
}
.row{
	display: block;
}
.row .block{
	vertical-align: top;
	display: inline-block;
    padding: 20px 0;
    width: 32.5%;
	margin: 0;
}
.row .block a{
	padding: 10px 20px;
	background-color: blue;
	color: #fff;
	border-radius: 3px;
	border: none;
	text-decoration: none;
}
.footer{
	font: 15px arial, sans-serif;
}

